<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jattcode.android.auori.demo" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat" >

        <activity android:name=".SingleViewActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--<activity android:name=".MultiViewActivity" >-->
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.DEFAULT" />-->
            <!--</intent-filter>-->
        <!--</activity>-->

        <!--<activity android:name=".MainActivity" >-->
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.DEFAULT" />-->
            <!--</intent-filter>-->
        <!--</activity>-->
    </application>

</manifest>
